**/node_modules
**/.idea
**/environments
/.git
/.husky

**/.env*
**/testusers.ini
**/README.md
**/.eslintrc.js
**/nodemon.json
.lintstagedrc.json
.prettierrc.json
.gitignore
.dockerignore
Dockerfile
docker-compose.yml