**/node_modules
**/.idea
**/environments
**/build
/.git
/.husky
/packages/listener
/packages/cross-var

**/.env*
**/testusers.ini
**/README.md
**/.eslintrc.js
**/nodemon.json
DOCKERHUB.md
CHANGELOG.md
.lintstagedrc.json
.prettierrc.json
.commitlintrc.json
.gitignore
.dockerignore
Dockerfile
docker-compose.yml