.paper {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tableContainer {
    flex: 0 1 1000px;
}

.tablePagination {
    flex-shrink: 0;
}

.urlColumn {
    word-break: break-all;
}

.timeColumn {
    width: 4.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.iconColumn {
    width: 2rem;
}
