.paper {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tableContainer {
    flex: 0 1 1000px;
    position: relative;
}

.horizontalBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;

    @media (max-width: 575.98px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.urlColumn {
    word-break: break-all;
}

.timeColumn {
    width: 4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.iconColumn {
    width: 1.5rem;
}
