.paper {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tableContainer {
    flex: 0 1 1000px;
}

.tablePagination {
    flex-shrink: 0;
}

.urlColumn {
    word-break: break-all;
}
