@mixin flexGap {
    display: flex;
    gap: 1.5rem;
}

@mixin flexRow {
    @include flexGap;
    flex-direction: row;
}

.form {
    @include flexGap;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    max-width: 900px;
}

.verticalBox {
    @include flexGap;
    flex-direction: column;
}

.horizontalBox {
    @include flexRow;

    @media (max-width: 767.98px) {
        flex-direction: column;
    }
}

.horizontalMiniBox {
    @include flexRow;
    width: 100%;

    @media (max-width: 575.98px) {
        flex-direction: column;
    }
}

.horizontalRightBox {
    @include flexRow;
    justify-content: end;
}
