@mixin flexGap {
    display: flex;
    gap: 1rem;
}

.form {
    @include flexGap;
    flex-direction: column;
    width: 60%;
    padding: 2rem;

    @media (max-width: 767.98px) {
        width: 90%;
    }
}

.horizontalBox {
    @include flexGap;
    flex-direction: row;

    @media (max-width: 767.98px) {
        flex-direction: column;
    }
}

.horizontalRightBox {
    @include flexGap;
    flex-direction: row;
    justify-content: end;
}
