.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    padding: 2rem;

    @media (max-width: 767.98px) {
        width: 90%;
    }
}

.horizontalBox {
    display: flex;
    gap: 1rem;
    flex-direction: row;

    @media (max-width: 767.98px) {
        flex-direction: column;
    }
}
